{% trans_default_domain 'FOSUserBundle' %}
{% set layout = 'FullWidthTemplate' %}
{% if content.layout %}
    {% set layout = content.layout.file %}
{% endif %}
{% extends 'ShopFrontendBundle:Templates:' ~ layout ~ '.html.twig' %}

{% block titleMobile %}{{ content.title }}{% endblock %}

{% block title %}
    {% if content.meta %}
        <title>{{ content.meta.metaTitle }}</title>
    {% endif %}
    {% if not content.meta %}
        <title>{{ content.title }}</title>
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if content.meta %}
        {{ content.meta.metaDescription }}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% if content.meta %}
        {{ content.meta.metaKeywords }}
    {% endif %}
{% endblock %}

{% block more_scripts %}
    {% if content.meta %}
        {{ content.meta.moreScripts }}
    {% endif %}
{% endblock %}


{% block body %}
    <section class="company">
        <div class="wrapper">
            <h1>{% block titlePage %}{% endblock %}</h1>
            <article>
                {{ content.content|raw }}
                <p class="copyright">
                    {% trans_default_domain 'FOSUserBundle' %}
                    {% if targetUrl %}
                       <a href="{{ targetUrl }}" class="catalog">{{ 'registration.back'|trans }}</a>
                    {% endif %}
                    {% render (controller("ShopFrontendBundle:WebItem:index", {alias: 'content_copyright'})) %}
                </p>
            </article>
            <br class="clear">
        </div>
    </section>
{% endblock %}