<nav class="main ">
    {% set link = "/catalog/" %}
    <a href="{{link|localeLink()}}">Каталог товаров</a>
    <ul>
        {% for one in items %}
        <li>
            {% set link = "/catalog/" ~ one.alias %}
            <a href="{{link|localeLink()}}">{{ one.title }}</a>
            {% if one.child is defined and one.child|length > 0 %}
            <div class="submenu">
                {% set link = "/catalog/" ~ one.alias %}
                <a href="{{link|localeLink()}}">{{ one.title }}</a>
                <ul>
                    {% for one2 in one.child %}
                    <li>
                        {% set link = "/catalog/" ~ one2.alias %}
                        <a href="{{link|localeLink()}}">{{ one2.title }}</a>
                        {% if one2.child is defined and one2.child|length > 0 %}
                        <div class="submenu2">
                            {% set link = "/catalog/" ~ one2.alias %}
                            <a href="{{link|localeLink()}}">{{ one2.title }}</a>
                            <ul>
                                {% for one3 in one2.child %}
                                    <li>
                                        {% set link = "/catalog/" ~ one3.alias %}
                                        <a href="{{link|localeLink()}}">{{ one3.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>

                <a href="/ip-kamery/ulichnaia/" class="corner videonablyudenie" target="_blank">
                    <img class="lazy" src="/emptydot.gif" data-original="/images/menu_sections/videonablyudenie.png" alt="Видеонаблюдение" title="Видеонаблюдение">
                </a>
            </div>
            {% endif %}
        </li>
        {% endfor %}
        <li class="brands">
            {% set link = "/brands" %}
            <a href="{{link|localeLink()}}">Каталог по брендам</a>
        </li>
    </ul>
</nav>