<section id="clients" class="bg-light">
    <div class="container mw1000">
        <div class="row">
            <div class="client-logo">
                <a href="#">
                    <img src="{{ asset('bundles/shopfrontend/img/external/3.png') }}" class="img-responsive img-centered mw100" alt="">
                </a>
            </div>
            <div class="client-logo">
                <a href="#">
                    <img src="{{ asset('bundles/shopfrontend/img/external/2.png') }}" class="img-responsive img-centered mw100" alt="">
                </a>
            </div>
            <div class="client-logo">
                <a href="#">
                    <img src="{{ asset('bundles/shopfrontend/img/external/5.png') }}" class="img-responsive img-centered mw100" alt="">
                </a>
            </div>
            <div class="client-logo hidden-xs">
                <a href="#">
                    <img src="{{ asset('bundles/shopfrontend/img/external/4.png') }}" class="img-responsive img-centered mw100" alt="">
                </a>
            </div>
            <div class="client-logo hidden-xs hidden-sm">
                <a href="#">
                    <img src="{{ asset('bundles/shopfrontend/img/external/1.png') }}" class="img-responsive img-centered mw100" alt="">
                </a>
            </div>
        </div>
    </div>
</section>